In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
df = pd.read_excel (r'Year_Sex.xlsx')
df.head()

   Year  male  female
0  2014  1546      78
1  2015   978      36
2  2016   468       8
3  2017   709      35
4  2018   982      74

# Загальна статистика смертей за гендером за всі роки

In [3]:
df_m = df.melt(id_vars=['Year'], var_name='Sex', value_name='Total')
df_m.head()

   Year   Sex  Total
0  2014  male   1546
1  2015  male    978
2  2016  male    468
3  2017  male    709
4  2018  male    982

In [7]:
chart1 = alt.Chart(df_m,title='Male/female deathes').mark_bar().encode(
    x = alt.X('Sex:N'),
    y = alt.Y('Total:Q'),
    color = alt.Color('Sex:N'),
    tooltip = alt.Tooltip('Total')
).properties(
    width=200,
    height=200)
chart1

alt.Chart(...)

In [11]:
chart2 = alt.Chart(df_m,title='Male/female deathes per year').mark_bar().encode(
    x = alt.X('Year:N'),
    y = alt.Y('Total:Q'),
    color = alt.Color('Sex:N'),
    tooltip = alt.Tooltip('Total')
).properties(
    width=400,
    height=200)
chart2

alt.Chart(...)

# Загальна характеристика смертей за віком за всі роки

In [12]:
df2 = pd.read_excel (r'Year_Age.xlsx')
df2.head()

,Year,(10-15],(15-20],(20-25],(25-30],(30-35],(35-40],(40-45],(45-50],(50-55],(55-60),(60-65],(65-70],(70-75],(75-80],(80-85]
0,2014,3,35,122,137,142,114,152,165,191,134,111,54,38,20,4
1,2015,0,18,42,47,49,50,55,50,71,37,32,17,1,3,0
2,2016,0,8,35,36,30,47,34,46,49,39,25,15,3,0,0
3,2017,0,25,46,82,75,72,79,86,80,96,44,23,18,6,2
4,2018,0,25,67,109,116,111,114,102,103,110,83,32,11,7,3

In [14]:
df2_m = df2.melt(id_vars=['Year'], var_name='Age', value_name='Total')
df2_m.head()

   Year      Age  Total
0  2014  (10-15]      3
1  2015  (10-15]      0
2  2016  (10-15]      0
3  2017  (10-15]      0
4  2018  (10-15]      0

In [18]:
chart3 = alt.Chart(df2_m,title='Age deathes per year').mark_bar().encode(
    x = alt.X('Year:N'),
    y = alt.Y('Total:Q'),
    color = alt.Color('Age:N'),
    tooltip = alt.Tooltip('Total')
).properties(
    width=400,
    height=400)
chart3

alt.Chart(...)

# Загальна кількість смертей по штатах за всі роки

In [19]:
df3 = pd.read_excel (r'State_Total.xlsx')
df3.head()

  Event state  Total
0          AK     24
1          AL    239
2          AR    146
3          AZ    140
4          CA   1305

In [26]:
chart4 = alt.Chart(df3,title='Deathes per state').mark_bar().encode(
    x = alt.X('Event state:N'),
    y = alt.Y('Total:Q')
).properties(
    width=600,
    height=400)
chart4

alt.Chart(...)